<div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-light-blue">
        <div class="widget-user-image">
            <img class="img-circle" src="uploads/rooms/<%= roomItem.thumbnail %>" alt="<%= roomItem.name %>">
        </div>
        <h3 class="widget-user-username"><%= roomItem.name %></h3>
    </div>
    <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
            <li><a href="#">Members <span class="pull-right badge bg-blue total-member">1</span></a></li>
            <li><a href="#">Language <span class="pull-right badge bg-aqua">PHP</span></a></li>
            <li><a href="#">Category<span class="pull-right badge bg-green">Education</span></a></li>
        </ul>
    </div>
</div>