<img src="backend/images/error-page.jpg" alt="Error Page" class="error-page-img"/>
<!-- Trong môi trường phát triển giành cho lập trình viên -->
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> 
