<% 
    actionHelper = (collection) => { 
        let xhtmlAction = '';
        let linkAddNew = systemConfig.prefixAdmin + '/' + collection + '/add';
        let actions = [
              {value: '', name: 'Bulk Action'}
            , {value: 'change-status/active', name: 'Active'}
            , {value: 'change-status/inactive', name: 'InActive'}
            , {value: 'change-ordering', name: 'Change Ordering'}
            , {value: 'delete', name: 'Delete'}
        ];
        actions.forEach((action) => {
            let link = systemConfig.prefixAdmin + '/' + collection + '/' + action.value;
            xhtmlAction += `<option value="${link}">${action.name}</option>`;
        });

        return `<div class="zcontrols">
                    <select name="action" class="form-control slbAction">
                        ${xhtmlAction}
                    </select>
                    <button class="btn btn-info btnAction" type="button" id="btn-action" value="btnAction"
                        disabled>Apply</button>
                    <div class="pull-right">
                        <a href="${linkAddNew}" class="btn btn-warning btn-addNew">Add New</a>
                    </div>
                </div>`;
    } 
%>