<% filterStatusHelper = (statusFilter, keyword) => { 
    statusFilter.forEach((item) =>{ 
        let link = systemConfig.prefixAdmin + '/items/' + item.value;  
        if(keyword !== '') link += '?keyword=' + keyword;
 %>
        <a class="btn m-b-sm btn-<%= item.class %> btn-sm" href="/<%= link %>">
            <%= item.name.toUpperCase() + " ("+ item.count +")" %>
        </a>
    <% })
} %>