<%
    paginationHelper = (paginationObj) => {
        let totalItems        = paginationObj.totalItems;
        let totalItemsPerPage = paginationObj.totalItemsPerPage;
        let totalPages        = Math.ceil(totalItems/totalItemsPerPage);
        let currentPage       = paginationObj.currentPage;
        let to                = currentPage*totalItemsPerPage;
        let from              = to - totalItemsPerPage + 1;
        if(to > totalItems) to = totalItems;

        return  `<div class="panel panel-info" id="pagination">
            <div class="panel-heading">
                Pagination
                <span class="label label-warning">Total pages: ${totalPages}</span>
                <span class="label label-danger">Total entries: ${totalItems}</span>
            </div>
            <div class="panel-body">
                <div class="infor-pagination">
                    <p>Number of entries on the page: <span>${totalItemsPerPage}</span></p>
                    <p>Showing <span> ${from} </span> to <span>${to}</span> of <span>${totalItems}</span> entries</p>
                </div>
                <div class="ad-pagination">
                    <ul class="pagination text-center">
                        <li class="disabled"><a>«</a></li>
                        <li><a href="admin123/item/page=1">1</a></li>
                        <li class="active"><a>2</a></li>
                        <li><a href="admin123/item/page=3">3</a></li>
                        <li><a href="admin123/item/page=4">4</a></li>
                        <li><a href="admin123/item/page=5">5</a></li>
                        <li><a href="admin123/item/page=0">»</a></li>
                    </ul>
                </div>
            </div>
        </div>`
    }   
%>