<%
    paginationHelper = (paginationObj) => {
        let totalItems         = paginationObj.totalItems;
        let totalItemsPerPage  = paginationObj.totalItemsPerPage;
        let totalPages         = Math.ceil(totalItems/totalItemsPerPage);
        let currentPage        = paginationObj.currentPage;
        let to                 = currentPage*totalItemsPerPage;
        let from               = to - totalItemsPerPage + 1;
        if(to > totalItems) to = totalItems;

        let xhtmlPagination    = '', xhtmlStart = '', xhtmlPrevious = '', xhtmlPages = '', xhtmlNext = '', xhtmlEnd = '';  

        let link               = '/' + systemConfig.prefixAdmin + '/items';

        if(currentPage > 1){
            xhtmlStart = `<li><a href="${link}?page=1">«</a></li>`;
            xhtmlPrevious = `<li><a href="${link}?page=${currentPage-1}">Previous</a></li>`;
        }

        if(currentPage < totalPages){
            xhtmlNext = `<li><a href="${link}?page=${currentPage+1}">Previous</a></li>`;
            xhtmlEnd = `<li><a href="${link}?page=${totalPages}">End</a></li>`;
        }

        for(let i=1; i<=totalPages; i++){
            if(i === currentPage){
                xhtmlPages += `<li class = "active"><a>${i}</a></li>`;
            }else{
                xhtmlPages += `<li><a href="${link}?page=${i}">${i}</a></li>`;
            }
        }

        xhtmlPagination = '<ul class="pagination text-center">' + xhtmlStart + xhtmlPrevious + xhtmlPages + xhtmlNext + xhtmlEnd + '</ul>';

        return  `<div class="panel panel-info" id="pagination">
            <div class="panel-heading">
                Pagination
                <span class="label label-warning">Total pages: ${totalPages}</span>
                <span class="label label-danger">Total entries: ${totalItems}</span>
            </div>
            <div class="panel-body">
                <div class="infor-pagination">
                    <p>Number of entries on the page: <span>${totalItemsPerPage}</span></p>
                    <p>Showing <span> ${from} </span> to <span>${to}</span> of <span>${totalItems}</span> entries</p>
                </div>
                <div class="ad-pagination">
                    ${xhtmlPagination}
                </div>
            </div>
        </div>`
    }   
%>