<% 

    showBoxUser = (userInfo) => { 
        
        const linkLogout= systemConfig.prefixChat + `/auth/logout`;
 
        let xhtmlMenuUser = '';
        
        if( Object.keys(userInfo).length > 0) {
            let userAvatar = 'uploads/users/' + userInfo.avatar;
            
            xhtmlMenuUser = `<li class="dropdown  user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="${userAvatar}" class="user-image" alt="User Image">
                    <span class="hidden-xs">${userInfo.username}</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <img src="${userAvatar}" class="img-circle" alt="User Image">
                        <p>${userInfo.username}</p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="${linkLogout}" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>`;
        }
        return xhtmlMenuUser;
    } 
%>
