<% 
    showBoxRequestFriend = (totalRequest, requestList) => { 
        
        xhtmlBoxRequestFriend = `<li class="header" id="list-user-invite">You have <span class="total-user-invite">${totalRequest}</span> invitations</li>`;
        if(totalRequest > 0) {
            xhtmlBoxRequestFriend = `<li><ul class="menu"><li>`;
            for(let i = 0; i < totalRequest; i++){ 
                let request     = requestList[i];
                let userAvatar  = 'uploads/users/' + request.avatar;
                let username    = request.username;
                xhtmlBoxRequestFriend += `<div class="user-invite" data-name="${username}">
                        <div  class="col-md-7 col-sm-7 col-xs-7 user-avatar">
                            <img class="contacts-list-img" src="${userAvatar}" alt="${username}">
                            <h5>${username}</h5>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5 btn-action-invite">
                            <button data-sendername="${username}" type="button" class="btn btn-block btn-primary control-add-friend-accept">Accept</button>
                            <button data-sendername="${username}" type="button" class="btn btn-block btn-default control-add-friend-deny">Deny</button>
                        </div>
                    </div>`;
            } 
            xhtmlBoxRequestFriend += '</li></ul></li><li class="footer"><a href="#">View all</a></li>';
        }
        
        return xhtmlBoxRequestFriend;
    } 
%>