<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body>
    <div id="wrapper">
        <% include ../../elements/navbar %>
        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div>
        </div>
    </div>
    <% include ../../elements/scripts %>
</body>

</html>