<% include ./../helpers/show-box-user %>
<%
    const linkPrefix    = systemConfig.prefixChat;
    const folderUsers   = 'uploads/users/';
%>

<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <% include ./../elements/navbar-header %>
            <% include ./../elements/navbar-left %>
            <% include ./../elements/navbar-right %>
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>