<% include ./../helpers/show-box-user %>
<%
    const linkPrefix    = systemConfig.prefixChat;
    const folderUsers   = 'uploads/users/';
%>

<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <% include ./../elements/navbar-header %>
            <% include ./../elements/navbar-left %>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the messages -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="chat/img/user1-128x128.jpg" class="img-circle"
                                                    alt="User Image">
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                Alexander Pierce
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <!-- The message -->
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="chat/img/user3-128x128.jpg" class="img-circle"
                                                    alt="User Image">
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                Sarah Bullock
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <!-- The message -->
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="chat/img/user4-128x128.jpg" class="img-circle"
                                                    alt="User Image">
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                Tennille Lown
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <!-- The message -->
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="chat/img/user5-128x128.jpg" class="img-circle"
                                                    alt="User Image">
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                Crystle Bethke
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <!-- The message -->
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                </ul>
                                <!-- /.menu -->
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- /.messages-menu -->
                    <!-- Notifications Menu -->
                    <li class="dropdown notifications-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw fa-user-plus"></i>
                        <span class="label label-warning">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 invitations</li>
                            <li>
                                <!-- Inner Menu: contains the notifications -->
                                <ul class="menu">
                                    <li>
                                        <!-- start notification -->
                                        <div class="user-invite">
                                            <div  class="col-md-7 user-avatar">
                                                <img class="contacts-list-img" src="chat/img/user1-128x128.jpg"
                                                    alt="User Image">
                                                <h5>Alexander Pierce</h5>
                                            </div>
                                            <div class="col-md-5 btn-action-invite">
                                                <button type="button" class="btn btn-block btn-primary">Accept</button>
                                                <button type="button" class="btn btn-block btn-default">Deny</button>
                                            </div>
                                        </div>
                                        <div class="user-invite">
                                            <div  class="col-md-7 user-avatar">
                                                <img class="contacts-list-img" src="chat/img/user5-128x128.jpg"
                                                    alt="User Image">
                                                <h5>Crystle Bethke</h5>
                                            </div>
                                            <div class="col-md-5 btn-action-invite">
                                                <button type="button" class="btn btn-block btn-primary">Accept</button>
                                                <button type="button" class="btn btn-block btn-default">Deny</button>
                                            </div>
                                        </div>
                                        <div class="user-invite">
                                            <div  class="col-md-7 user-avatar">
                                                <img class="contacts-list-img" src="chat/img/user3-128x128.jpg"
                                                    alt="User Image">
                                                <h5>Sarah Bullock</h5>
                                            </div>
                                            <div class="col-md-5 btn-action-invite">
                                                <button type="button" class="btn btn-block btn-primary">Accept</button>
                                                <button type="button" class="btn btn-block btn-default">Deny</button>
                                            </div>
                                        </div>
                                        <div class="user-invite">
                                            <div  class="col-md-7 user-avatar">
                                                <img class="contacts-list-img" src="chat/img/user4-128x128.jpg"
                                                    alt="User Image">
                                                <h5>Tennille Lown</h5>
                                            </div>
                                            <div class="col-md-5 btn-action-invite">
                                                <button type="button" class="btn btn-block btn-primary">Accept</button>
                                                <button type="button" class="btn btn-block btn-default">Deny</button>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- end notification -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- User Account Menu -->
                    <%- showBoxUser(userInfo) %>
                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>