<li class="dropdown notifications-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-fw fa-user-plus"></i>
    <span class="label label-warning">4</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">You have 4 invitations</li>
        <li>
            <!-- Inner Menu: contains the notifications -->
            <ul class="menu">
                <li>
                    <!-- start notification -->
                    <div class="user-invite">
                        <div  class="col-md-7 user-avatar">
                            <img class="contacts-list-img" src="chat/img/user1-128x128.jpg"
                                alt="User Image">
                            <h5>Alexander Pierce</h5>
                        </div>
                        <div class="col-md-5 btn-action-invite">
                            <button type="button" class="btn btn-block btn-primary">Accept</button>
                            <button type="button" class="btn btn-block btn-default">Deny</button>
                        </div>
                    </div>
                    <div class="user-invite">
                        <div  class="col-md-7 user-avatar">
                            <img class="contacts-list-img" src="chat/img/user5-128x128.jpg"
                                alt="User Image">
                            <h5>Crystle Bethke</h5>
                        </div>
                        <div class="col-md-5 btn-action-invite">
                            <button type="button" class="btn btn-block btn-primary">Accept</button>
                            <button type="button" class="btn btn-block btn-default">Deny</button>
                        </div>
                    </div>
                    <div class="user-invite">
                        <div  class="col-md-7 user-avatar">
                            <img class="contacts-list-img" src="chat/img/user3-128x128.jpg"
                                alt="User Image">
                            <h5>Sarah Bullock</h5>
                        </div>
                        <div class="col-md-5 btn-action-invite">
                            <button type="button" class="btn btn-block btn-primary">Accept</button>
                            <button type="button" class="btn btn-block btn-default">Deny</button>
                        </div>
                    </div>
                    <div class="user-invite">
                        <div  class="col-md-7 user-avatar">
                            <img class="contacts-list-img" src="chat/img/user4-128x128.jpg"
                                alt="User Image">
                            <h5>Tennille Lown</h5>
                        </div>
                        <div class="col-md-5 btn-action-invite">
                            <button type="button" class="btn btn-block btn-primary">Accept</button>
                            <button type="button" class="btn btn-block btn-default">Deny</button>
                        </div>
                    </div>
                </li>
                <!-- end notification -->
            </ul>
        </li>
        <li class="footer"><a href="#">View all</a></li>
    </ul>
</li>