<div class="navbar-header">
    <a href="<%= systemConfig.prefixChat %>" class="navbar-brand"><b>NodeJs Level</b> 3</a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse">
    <i class="fa fa-bars"></i>
    </button>
</div>