<script id="template-chat-message" type="x-tmpl-mustache">
    <div class="direct-chat-msg {{ typeShow }}">
        <div class="direct-chat-info clearfix">
            <span class="direct-chat-name {{ classUsername }}">{{ data.username }}</span>
            <span class="direct-chat-timestamp {{ classCreated }}">{{ data.created }}</span>
        </div>
        <img class="direct-chat-img" src="uploads/users/{{ data.avatar }}"
            alt="{{ data.username }}">
        <div class="direct-chat-text">
            {{ data.content }}
        </div>
    </div>
</script>