<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Online</h3>
        <span class="badge bg-light-blue count" id="total-user"></span>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="list-users"></div>
    <!-- /.box-body -->
</div>
<script type="text/javascript">
    $(function() {
        let $elmInputUsername = $('input[name="username"]');
        let $elmInputAvatar   = $('input[name="avatar"]');
        let $elmTotalUser	    = $('span#total-user');
        let $elmListUsers	    = $('div#list-users');
        let $tmplUserOnline     = $('#template-user-online');

        let socket  = io.connect('http://localhost:8181');

        socket.on("connect", () => {
            socket.emit('USER_CONNECT', {
                username: $elmInputUsername.val(),
                avatar: $elmInputAvatar.val()
            });
        })

        socket.on("SERVER_SEND_ALL_LIST_USER", (data) => {
            let template = $tmplUserOnline.html();
            let xhtml    = '';
            for(let i = 0; i < data.length; i++) {
                let user = data[i];
                if(user.username !== $elmInputUsername.val()) {
                    xhtml += Mustache.render(template, { user });
                }
            }
            $elmListUsers.html(xhtml);
            $elmTotalUser.html(data.length - 1);
        })
    })
</script> 