<% include ./../../helpers/show-message-chat %>
<div class="box box-primary direct-chat direct-chat-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Direct Chat</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages" id="area-list-message">
            <%- showMessageChat(itemsChat, userInfo) %>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <form action="#" method="post" id="form-chat">
            <div class="input-group">
                <input type="text" name="message" placeholder="Type Message ..." id="message" class="form-control">
                <input type="hidden" name="username" value="<%= userInfo.username %>">
                <input type="hidden" name="avatar" value="<%= userInfo.avatar %>">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">Send</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.box-footer-->
</div>
<script type="text/javascript">
    $(function() {
        let $elmInputMessage  = $('input#message');
        let $elmInputUsername = $('input[name="username"]');
        let $elmInputAvatar   = $('input[name="avatar"]');
        let $elmFormChat      = $('form#form-chat');
        let $elmListMessage   = $('div#area-list-message');

        $elmInputMessage.emojioneArea();

        let socket              = io.connect('http://localhost:8181');

        socket.on("SERVER_RETURN_ALL_MESSAGE", (data) => {
            let typeShow = "";
            let classUsername = "pull-left";
            let classCreated = "pull-right";

            if($elmInputUsername.val() == data.username ){
                typeShow        = "right";
                classUsername   = "pull-right";
                classCreated    = "pull-left";
            }

            let xhtmlChat = `<div class="direct-chat-msg ${typeShow}">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name ${classUsername}">${data.username}</span>
                                <span class="direct-chat-timestamp ${classCreated}">${data.created}</span>
                            </div>
                            <img class="direct-chat-img" src="uploads/users/${data.avatar}"
                                alt="${data.username}">
                            <div class="direct-chat-text">
                                ${data.content}
                            </div>
                        </div>`;
            
            $elmListMessage.append(xhtmlChat);
        });

        // CLIENT SEND MESSAGE
        $elmFormChat.submit(function() {
            socket.emit('CLIENT_SEND_ALL_MESSAGE', {
                content: $elmInputMessage.val(),
                username: $elmInputUsername.val(),
                avatar: $elmInputAvatar.val()
            });

            $elmInputMessage.val('');
            $(".emojionearea-editor").html('');

            return false;
        });
    })
</script> 