<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Online</h3>
        <span  data-toggle="tooltip" title="" class="badge bg-light-blue count" data-original-title="5 Users">5</span>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="user">
            <div  class="col-md-8 user-avatar">
                <img class="contacts-list-img" src="chat/img/user1-128x128.jpg"
                    alt="User Image">
                <h5>Alexander Pierce</h5>
            </div>
            <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-w btn-sm">Add friend</button></div>
        </div>
        <div class="user">
            <div  class="col-md-8 user-avatar">
                <img class="contacts-list-img" src="chat/img/user6-128x128.jpg"
                    alt="User Image">
                <h5>Shakira Arthur</h5>
            </div>
            <div class="col-md-4"><button type="button" class="btn btn-block btn-default btn-sm btn-w">Remove</button></div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<script type="text/javascript">
    $(function() {
        let $elmInputUsername = $('input[name="username"]');
        let $elmInputAvatar   = $('input[name="avatar"]');

        let socket  = io.connect('http://localhost:8181');

        socket.on("connect", () => {
            socket.emit('USER_CONNECT', {
                username: $elmInputUsername.val(),
                avatar: $elmInputAvatar.val()
            });
        })

        socket.on("SERVER_SEND_ALL_LIST_USER", (data) => {
            console.log(data);
        })
    })
</script> 