<div class="col-md-8 no-padding-left">
    <div class="box box-primary direct-chat direct-chat-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Direct Chat</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Alexander Pierce</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="chat/img/user1-128x128.jpg"
                        alt="Message User Image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Is this template really for free? That's unbelievable!
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Alexander Pierce</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="chat/img/user2-160x160.jpg"
                        alt="Message User Image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Oh, Yessssssssssss!
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Tennille Lown</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="chat/img/user4-128x128.jpg"
                        alt="Message User Image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Oh,       Yeahhhhhhhhh!
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Alexander Pierce</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="chat/img/user1-128x128.jpg"
                        alt="Message User Image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        like like like like !
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Crystle Bethke</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="chat/img/user5-128x128.jpg"
                        alt="Message User Image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Is this template really for free? That's unbelievable!
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Alexander Pierce</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="chat/img/user1-128x128.jpg"
                        alt="Message User Image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Is this template really for free? That's unbelievable!
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Shakira Arthur</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="chat/img/user6-128x128.jpg"
                        alt="Message User Image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Great,unbelievable !
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">Sarah Bullock</span>
                        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="chat/img/user3-128x128.jpg"
                        alt="Message User Image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        You better believe it!
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
            </div>
            <!--/.direct-chat-messages-->
            <!-- Contacts are loaded here -->
            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="chat/img/user1-128x128.jpg"
                                alt="User Image">
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                Count Dracula
                                <small class="contacts-list-date pull-right">2/28/2015</small>
                                </span>
                                <span class="contacts-list-msg">How have you been? I was...</span>
                            </div>
                            <!-- /.contacts-list-info -->
                        </a>
                    </li>
                    <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
            </div>
            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..."
                        class="form-control">
                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">Send</button>
                    </span>
                </div>
            </form>
        </div>
        <!-- /.box-footer-->
    </div>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Online</h3>
                <span  data-toggle="tooltip" title="" class="badge bg-light-blue count" data-original-title="5 Users">5</span>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                        class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="user">
                    <div  class="col-md-8 user-avatar">
                        <img class="contacts-list-img" src="chat/img/user1-128x128.jpg"
                            alt="User Image">
                        <h5>Alexander Pierce</h5>
                    </div>
                    <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-w btn-sm">Add friend</button></div>
                </div>
                <div class="user">
                    <div  class="col-md-8 user-avatar">
                        <img class="contacts-list-img" src="chat/img/user3-128x128.jpg"
                            alt="User Image">
                        <h5>Sarah Bullock</h5>
                    </div>
                    <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-w btn-sm">Add friend</button></div>
                </div>
                <div class="user">
                    <div  class="col-md-8 user-avatar">
                        <img class="contacts-list-img" src="chat/img/user4-128x128.jpg"
                            alt="User Image">
                        <h5>Tennille Lown</h5>
                    </div>
                    <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-w btn-sm">Add friend</button></div>
                </div>
                <div class="user">
                    <div  class="col-md-8 user-avatar">
                        <img class="contacts-list-img" src="chat/img/user5-128x128.jpg"
                            alt="User Image">
                        <h5>Crystle Bethke</h5>
                    </div>
                    <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-w btn-sm">Add friend</button></div>
                </div>
                <div class="user">
                    <div  class="col-md-8 user-avatar">
                        <img class="contacts-list-img" src="chat/img/user6-128x128.jpg"
                            alt="User Image">
                        <h5>Shakira Arthur</h5>
                    </div>
                    <div class="col-md-4"><button type="button" class="btn btn-block btn-default btn-sm btn-w">Remove</button></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="row">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Rooms</h3>
                <span data-toggle="tooltip" title="" class="badge bg-light-blue count" data-original-title="2 Rooms">2</span>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                        class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body scroll-box">
                <div class="room">
                    <div  class="col-md-8 room-avatar">
                        <img class="rooms-list-img" src="chat/img/Angular.png"
                            alt="User Image">
                        <h5 class="room-name">Room Angular</h5>
                        <small>Member: 5</small>
                    </div>
                    <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-w btn-sm">Join</button></div>
                </div>
                <div class="room">
                    <div  class="col-md-8 room-avatar">
                        <img class="rooms-list-img" src="chat/img/php-icon.png"
                            alt="User Image">
                        <h5 class="room-name">Room PHP</h5>
                        <small>Member: 5</small>
                    </div>
                    <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-w btn-sm">Join</button></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
<script type="text/javascript">
    var socket              = io.connect('http://localhost:8181');
</script> 