<div class="col-md-8 no-padding-left">
    <% include ./box-direct-chat %> 
</div>
<div class="col-md-4">
    <div class="row">
        <% include ./box-user-online %> 
    </div>
    <div class="row">
        <% include ./box-room %> 
    </div>
</div>