<!DOCTYPE html>
<html>
<head>
	<% include ./elements/head %>
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">
    <div class="content-wrapper">
        <div class="container">
            <section class="content">
                <%- body %>
            </section>
        </div>
    </div>
    <% include ./elements/footer %>
</div>
<% include ./elements/scripts-login %> 
</body>
</html>
