<% 
    filterStatusHelper = (collection, statusFilter, keyword) => { 
        let xhtmlResult = '';
        statusFilter.forEach((item) =>{ 
            let link = systemConfig.prefixAdmin + '/' + collection + '/status/' + item.value;  
            if(keyword !== '') link += '?keyword=' + keyword;
    
            xhtmlResult += `<a class="btn m-b-sm btn-${item.class} btn-sm" href="/${link}">
                ${item.name.toUpperCase() + " ("+ item.count +")"}
            </a> `;
        })
        return xhtmlResult;
    } 
%>