<% 
    groupACPHelper = (group_acp) => { 
        let classGroupACP = '';
        classGroupACP = (group_acp === 'yes') ? 'fa-check-square-o' : 'fa-square-o';

        return `<a href='#' class='fa ${classGroupACP} fa-lg'> </a>`;
    } 
%>