<% 
    selectboxHelper = (name, items, optionSelected = 'novalue') => { 
        let xhtml = '';

        items.forEach((item) => {
            let selected = (item._id == optionSelected) ? `selected="selected"` : '';
            xhtml += `<option value="${item._id}" ${selected}>${item.name}</option>`;
        })
        return `<select name="${name}" class="form-control">${xhtml}</select>`;
    } 
%>