<% 
    sortHelper = (linkPrefix, name, sortField, sortFieldCurrent, sortTypeCurrent, options) => { 
        let xhtmlResult = '';
        let style       = (options !==undefined && options) ? `style="${options}"` : '';
        let order       = (sortTypeCurrent === 'asc') ? 'desc' : 'asc';
        let link        = linkPrefix + 'sort/' + sortField + '/' + order;  
        let icon        =  '<i class="fa fa-fw fa-sort"></i>';
        if(sortField === sortFieldCurrent){
            icon =`<i class="fa fa-fw fa-sort-${sortTypeCurrent}"></i>`;
        }

        xhtmlResult += `<th class="text-center pointer" ${style}>
                            <a href="${link}" class="title_col">${name}${icon}</a>
                        </th>`;

        return xhtmlResult;
    }
%>