<div class="latest-post-wrap">
        <h4 class="cat-title">Thể Thao</h4>
        
            <div class="single-latest-post row align-items-center">
                <div class="col-lg-5 post-left">
                    <div class="feature-img relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="uploads/article/YKR20DwEDf.jpeg" alt="Trận thắng knock-out ở tuổi 39">
                    </div>
                </div>
                <div class="col-lg-7 post-right">
                    <a href="image-post.html">
                        <h4>Trận thắng knock-out ở tuổi 39</h4>
                    </a>
                    <ul class="meta">
                        <li>
                            <a href="#"><span class="lnr lnr-user"></span>admin</a>
                        </li>
                        <li>
                            <a href="#"><span class="lnr lnr-calendar-full"></span>27-09-2018 </a>
                        </li>
                    </ul>
                    <p class="excert">Trong trận tranh đai bán trung của WBA gặp Lucas Matthysse diễn ra ở Kuala Lumpur (Malaysia) sáng 15/7, Pacquiao hạ knock-out đối thủ ở  ...</p>
                </div>
            </div>
        
            <div class="single-latest-post row align-items-center">
                <div class="col-lg-5 post-left">
                    <div class="feature-img relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="uploads/article/YDi0HuhNwt.jpeg" alt="Cận cảnh tình huống VAR - bước ngoặt của trận chung kết">
                    </div>
                </div>
                <div class="col-lg-7 post-right">
                    <a href="image-post.html">
                        <h4>Cận cảnh tình huống VAR - bước ngoặt của trận chung kết</h4>
                    </a>
                    <ul class="meta">
                        <li>
                            <a href="#"><span class="lnr lnr-user"></span>admin</a>
                        </li>
                        <li>
                            <a href="#"><span class="lnr lnr-calendar-full"></span>27-09-2018 </a>
                        </li>
                    </ul>
                    <p class="excert">Cận cảnh tình huống VAR - bước ngoặt của trận chung kết World Cup ...</p>
                </div>
            </div>
        
    </div>